body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sensor {
    margin-bottom: 20px;
}

.sensor h2 {
    margin-bottom: 10px;
}

.gauges {
    display: flex;
    flex-direction: row; /* Zeile anstatt space-around */
    justify-content: space-between;
    align-items: center; /* Zentriert vertikal */
}

.gauges canvas {
    width: 100px; /* Breite anpassen, je nach gewünschtem Layout */
    height: 100px; /* Höhe anpassen, je nach gewünschtem Layout */
}

.chart-container {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.led {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.led.green {
    background-color: green;
}

.led.gray {
    background-color: gray;
}

.moisture {
    margin-bottom: 5px;
}
